rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /tasks/{taskId} {
      allow read, write: if true;
    }
    match /schedules/{scheduleId} {
      allow read, write: if true;
    }
    match /habits/{habitId} {
      allow read, write: if true;
    }
    match /focusSessions/{sessionId} {
      allow read, write: if true;
    }
  }
}
